button {
  margin: auto;
  margin-top: 50px;
}

.login-area {
  height: 80%;
}

.inp-area{
    width: 300px;
}

.inp-container{
    height: 60%;
}

.container {
  position: absolute;
  right: 50%;
  top: 50%;
  width: 500px;
  height: 80vh;
  display: grid;
  place-items: center;
  transform: translate(50%, -50%);
  background-color: #ebeeff;
  border-radius: 40px;
}

h2 {
  color: black;
  position: absolute;
  top: 20px;
}
