* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  background: linear-gradient(137.13deg, #2479fd -21.83%, #00b1ff 84.33%);
  max-width: 100%;
  overflow-x: hidden;
}

button {
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #ebeeff;
  outline: none;
}

h1,
h3, h2 {
  text-align: center;
  color: #ebeeff;
}

h1 {
  font-size: 42px;
}

h3 {
  font-size: 20px;
}


